



# Framework Web Application:

streamlit==1.54.0
Django==6.0.2


# Data Manipulation Libraries:
numpy==2.4.2
pandas==3.0.1

# Data Visualization Libraries:
matplotlib==3.10.8
seaborn==0.13.2

# Data Analysis Libraries:
scipy==1.17.1
scikit-learn==1.8.0

# Machine Learning Libraries:
tensorflow==2.20.0
keras==3.13.2
tensorflow==2.20.0
keras==3.13.2


# Natural Language Processing Libraries:
nltk==3.9.2
spacy==3.8.11

# Web Scraping Libraries:
beautifulsoup4==4.14.3
requests==2.32.5

# Database Libraries:
sqlalchemy==2.0.48
psycopg2-binary==2.9.11

# Jupyter Notebook Libraries:
jupyter==1.1.1
notebook==7.5.3
ipywidgets==8.1.8

# Other Useful Libraries:
joblib==1.5.3

